back-end-project/xmlProjects/EmployeeSchema/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.zeeshan.com/Employee"
	xmlns:tns="http://www.zeeshan.com/Employee"
	xmlns:common="http://www.zeeshan.com/Common"
	elementFormDefault="qualified">


	<include schemaLocation="PaymentType.xsd" />

	<import schemaLocation="Common.xsd"
		namespace="http://www.zeeshan.com/Common" />

	<element name="Employee" type="tns:Employee" />
	<complexType name="Employee">
		<sequence>
			<element name="name" type="tns:String10Chars" />
			<element name="age" type="int" />
			<element name="email" type="string" />
			<element name="gender" type="string" />
			<element name="phone" type="string" />
			<element name="paymentType" type="tns:PaymentType" />
		</sequence>

		<attribute name="id" type="common:Id" use="required" />
	</complexType>



	<simpleType name="String10Chars">
		<restriction base="string">
			<maxLength value="10" />
		</restriction>
	</simpleType>
</schema>